body{
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
    padding: 10px;
    background: rgb(247, 188, 115);
}
.header{
    padding: 10px;
    font-family: 'Lobster', cursive;
    font-size: 30px;
    text-align: center;
    background: rgb(48, 236, 205);
}
.leftcolumn{
    float:left;
    width: 70%;
    margin-right: 5px;
}
.leftcolumn img{
    float: left;
}
.rightcolumn{
    float: left;
    width: 25%;
    padding: 2px;
  
} 
.row::after{
    content: "";
    display: table;
    clear: both;
}


.card{
    background-color: rgb(58, 197, 31);
    padding: 2px;
    margin-top: 10px;
}

.footer{
    padding: 20px;
    text-align: center;
    background: crimson;
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
}
@media screen and (max-width: 811px){
    .leftcolumn , .rightcolumn{
        width: 100%;
        padding: 0%;
    }
}